user nginx nginx;
worker_processes auto;
error_log /var/log/nginx/error.log info;
pid /var/run/nginx.pid;
events {
	worker_connections 8192;
	use epoll;
        multi_accept on;
}
mail {
	server_name {{ smtp_server_name }};

	# ngx_mail_auth_http_module
	auth_http 127.0.0.1:8008;
	auth_http_header X-Auth-Key "{{ smtp_auth_key }}";
	auth_http_timeout 5m;

	# ngx_mail_proxy_module
	proxy_pass_error_message on;
	proxy_timeout 5m;
	xclient off;

	# ngx_mail_smtp_module
	smtp_auth none;
	smtp_capabilities "SIZE 157286400" 8BITMIME ENHANCEDSTATUSCODES PIPELINING CHUNKING SMTPUTF8;

	# ngx_mail_ssl_module
	ssl off;
	ssl_ciphers HIGH:!aNULL:!MD5;
	ssl_prefer_server_ciphers on;
	ssl_protocols TLSv1.2 TLSv1.1;
	ssl_session_cache shared:SSL:1m;
	ssl_session_timeout 5m;
	starttls off;
	server {
		listen 25;
		protocol smtp;
		timeout 5m;
		resolver {{ smtp_dns_server }};
		resolver_timeout 30s;
	}
}
